.jumbotron{
    background-color: #171717;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Bitter', serif;  
}
.navbar{
    background-color: #121212;
}
.textColor{
    color: #fff;
}
.rounded-circle{
    margin-bottom: 24px;
}
.navbar-brand{
    font-family: 'Yellowtail', cursive;
}
